In [14]:
# Importing Libraries/Dependencies
import selenium
import pandas as pd
from selenium import webdriver
from bs4 import BeautifulSoup
import requests
import time
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.keys import Keys

import warnings
warnings.filterwarnings('ignore')

In [15]:
driver=webdriver.Chrome(r'C:\Users\User\Downloads\chromedriver_win32 (3)\chromedriver.exe')# opening chrome driver

In [16]:

 driver.get("https://paytm.com/")
    #opening website from where we need to fetch data

In [17]:
for i in driver.find_elements(By.XPATH,'/html/body/div[1]/div/section[4]/div/div/div/div[2]'):
    i.click()

In [18]:
driver.get("https://paytm.com/flights/flightSearch/BLR-Bengaluru/PNQ-Pune/1/0/0/E/2022-02-26")

In [19]:
urls=[]
sou=["BLR-Bengaluru","CCU-Kolkata"]# passing source location
location = ["DEL-Delhi","PNQ-Pune","MAA-Chennai","HYD-Hyderabad"] #passing destination 
# passing random date on which flight is schedule
date_list=["2022-02-26","2022-03-07","2022-03-13","2022-03-20","2022-03-29","2022-04-06","2022-03-15","2022-03-25","2022-04-01","2022-03-07"]
for i in range(0,2):
    for j in range(0,4):
            for k in range(0,10):
                url="https://paytm.com/flights/flightSearch/"+sou[i]+"/"+location[j]+"/1/0/0/E/"+date_list[k] #as url is a string we can manipulate it and make changes according to our needs
                urls.append(url)

In [20]:
len(urls)#checking len of url how many url we have fetched

80

In [21]:
# making list of features i am going to fetch 
name=[]
departure_time=[]
arrival_time=[]
dur=[]
price=[]
stop=[]
place=[]
date=[]
for url in urls:
    driver.get(url)
    time.sleep(5)
    
    for k in driver.find_elements(By.XPATH,'//div[@class="_3H-S _1Eia"]'):
        name.append(k.text)
            
    for k in driver.find_elements(By.XPATH,'//div[@class="_3H-S"]'):
        departure_time.append(k.text)
        
    for i in driver.find_elements(By.XPATH,'//div[@class="_3H-S _1wD5"]'):
        arrival_time.append(i.text.split("\n")[0])
        
    for i in driver.find_elements(By.XPATH,'//div[@class="vY4t"]'):
        dur.append(i.text)
        
    for i in driver.find_elements(By.XPATH,'//div[@class="_1cxG"]'):
        price.append(int(i.text.replace(",","")))
        
    for i in driver.find_elements(By.XPATH,'//div[@class="_7BOG"]'):
        stop.append(i.text.split()[0])
        
    for i in driver.find_elements(By.XPATH,'//div[@class="NqXj"]'):
        place.append(i.text)
        
    for i in range(0,len(driver.find_elements(By.XPATH,'//div[@class="_1cxG"]'))):
               date.append(url.split('/')[11])

In [22]:
source=place[0::2]
destination=place[1::2]

In [23]:
print(len(arrival_time),len(dur),len(price),len(name),len(departure_time),len(source),len(destination),len(date))

8277 8277 8277 8277 8277 8277 8277 8277

In [24]:
# this is the dataframe i have fetched from the above website
flight=pd.DataFrame({"Flight name":name,
                 "Departure_time":departure_time,
                 "Arrival_time":arrival_time,
                 "Price":price,
                 "Source":source,
                 "Destination":destination,
                  "Duration":dur,
                 "No of stop":stop,
                 "Date":date})

In [25]:
flight

,Flight name,Departure_time,Arrival_time,Price,Source,Destination,Duration,No of stop,Date
0,Go First,21:55,00:50,7488,Bengaluru,Delhi,2h 55m,Non,2022-02-26
1,IndiGo,20:10,23:10,7488,Bengaluru,Delhi,3h,Non,2022-02-26
2,Vistara,21:10,23:45,7489,Bengaluru,Delhi,2h 35m,Non,2022-02-26
3,Vistara,19:40,22:25,7489,Bengaluru,Delhi,2h 45m,Non,2022-02-26
4,Air Asia,19:25,22:15,7489,Bengaluru,Delhi,2h 50m,Non,2022-02-26
...,...,...,...,...,...,...,...,...,...
8272,Vistara,10:15,20:55,18505,Kolkata,Hyderabad,10h 40m,2,2022-03-07
8273,Vistara,10:15,20:55,18505,Kolkata,Hyderabad,10h 40m,2,2022-03-07
8274,Vistara,15:20,22:55,18879,Kolkata,Hyderabad,7h 35m,1,2022-03-07
8275,Vistara,10:25,19:55,20075,Kolkata,Hyderabad,9h 30m,2,2022-03-07
8276,Vistara,10:25,22:55,20075,Kolkata,Hyderabad,12h 30m,2,2022-03-07

In [26]:
flight.to_csv("flight_fare.csv")#saving dataframe to csv format